<div class="login-wrapper">
    <div class="panel login-panel">
        <div class="scanner"></div>
        <div class="logo-container">
            <img alt="pre-crime logo" class="logo login-logo" src="assets/images/pre-crime-logo.png">
        </div>
        <h1 class="login-title">AUTH ACCESS</h1>
        <div class="vision-form">
            <label for="username-input">Division ID</label>
            <input (ngModelChange)="username.set($event)" [ngModel]="username()" data-testid="username-input"
                   id="username-input"
                   placeholder="USERNAME..." type="text">
            <label for="password-input">Access Key</label>
            <input (ngModelChange)="password.set($event)" [ngModel]="password()" data-testid="password-input"
                   id="password-input"
                   placeholder="PASSWORD..."
                   type="password">
            <button (click)="onLogin()" data-testid="authorize-btn">AUTHORIZE</button>
            @if (error()) {
            <div class="error-message">
                ERROR: {{ error() }}
            </div>
            }
        </div>
        <div class="warning-text">
            WARNING: UNAUTHORIZED ACCESS IS A FUTURE FELONY
        </div>
    </div>
</div>
