<div class="login-wrapper">
    <div class="panel login-panel">
        <div class="scanner"></div>
        <div class="logo-container">
            <img alt="fedpol logo" class="logo login-logo" src="assets/images/fedpol-logo-de.png">
        </div>
        <h1 class="login-title">AUTH ACCESS</h1>
        <div class="vision-form">
            <label>Division ID</label>
            <input (ngModelChange)="username.set($event)" [ngModel]="username()" placeholder="USERNAME..." type="text">
            <label>Access Key</label>
            <input (ngModelChange)="password.set($event)" [ngModel]="password()" placeholder="PASSWORD..."
                   type="password">
            <button (click)="onLogin()">AUTHORIZE</button>
            <div *ngIf="error()" class="error-message">
                ERROR: {{ error() }}
            </div>
        </div>
        <div class="warning-text">
            WARNING: UNAUTHORIZED ACCESS IS A FUTURE FELONY
        </div>
    </div>
</div>
