body {
    margin: 0;
    padding: 0;
    background-color: #00050a;
    color: #00f2ff;
    font-family: 'Courier New', Courier, monospace;
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 50, 100, 0.3) 0%, transparent 80%),
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 100%, 100% 2px, 3px 100%;
    height: 100vh;
    overflow: hidden;
    text-transform: uppercase;
}
